services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
      target: builder
    ports:
      - "5001:5001"
    volumes:
      - ./backend:/app/backend
      - ./shared:/app/shared
      - /app/backend/node_modules
    env_file:
      - ./backend/.env
    command: npm run dev

  web-admin:
    build:
      context: .
      dockerfile: web-admin/Dockerfile
      target: builder
    ports:
      - "3000:3000"
    depends_on:
      - backend
    volumes:
      - ./web-admin:/app
      - ./shared:/app/../shared
      - /app/node_modules
    command: npm run dev
    environment:
      - NEXT_PUBLIC_API_BASE=http://localhost:5001
